* {
    padding: 0;
    margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: Optima, sans-serif;
  background-image: url(res/Back1.svg);
  -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
  /*position: relative;*/
   border-bottom: 16vw solid black;
   background-color: #302121;
}


/*========================================================SCROLL==============================================*/

/* W3C standard
   сейчас только для Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #C4C4C4 black;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: black;
}
*::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
}

/*========================================================HEADER==============================================*/

.logo img {
  /*margin: 0px 10px 0px 149px;*/
  display: inline-block;
  
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  padding: 20px;
  margin:auto;

}

.header .menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
}

.header .menu .el {
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  color: #FF4800;
  margin: 10px;
}

.header .menu .el:hover {
  /*background-color: rgb(38, 182, 182);*/
}

.symbol {
  display: none;
  cursor: pointer;
  float: right;
  margin: 10px 13px 0px 0px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 4px;
  margin: 8px;
  background-color: #FF4800;
  transition: 0.7s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-8px, 7px) scale(1.2, 1);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-9px, -9px) scale(1.2, 1);
}

@media (max-width: 700px) {
  .header .menu {
    display: flex-inline;
    flex-direction: column;
    display: none;
    z-index: 100;
    background-color: black;

  }
  .header {
    display: flex-inline;
    height: 100%;
    flex-direction: column;
    height: 65px;
    z-index: 100;
    padding: 0;
    margin: 0;
  }
  .symbol {
    display: inline-block;
    z-index: 100;
  }

  .logo img{
    display: inline-block;
    height: 47px;
    margin: 8px 0px 0px 8px;
  }
}

/*==========================================HOVER=============================================================*/

mark {
  padding: 0.3vw 0vw 0.3vw 0.3vw;
  text-decoration: none;
  background-color: #FF4800;
  font-color:black;
}

nav.header .menu .el a {
  display: block;
  padding: 0.3vw 0.3vw 0.3vw 0.3vw;
  text-decoration: none;
  color: #FF4800;
  /*font-weight: 800;*/
  /*margin: 0 10px;*/
}


nav.header .menu .el .msc{
  color: #FF4800;
}


nav.header .menu .el a {
  position: relative;
}

nav.header .menu .el a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #FF4800;  
  height: 1px;
}

nav.header .menu .el a {
  transition: all 2s;
}

nav.header .menu .el a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.header .menu .el a:hover {
  color: black;
  z-index: 1;
}
nav.header .menu .el a:hover:after {
  z-index: -10;
  animation: header 1s forwards;
  -webkit-animation: header 1s forwards;
  -moz-animation: header 1s forwards;
  opacity: 1;
}


/* Keyframes */
@-webkit-keyframes header {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #FF4800;
  }
}


/*============================================FOOTER==============================================*/

.footer{
  position: relative;
}


.footer .black_line{
  display: flex;
  justify-content: center;
  background-color: black;
  /*height: 100%;
  height: 200px;*/
}

.social{
  display: flex;
  /*align-items: center;*/
  /*flex-wrap: wrap;*/
  /*margin: 2vw;*/
  flex-direction: row;
  position: absolute;
  padding: 0.5vw;

}

.icon{
  width: 3.5vw;
  padding: 0.4vw;
}

.email{
  color: #FF4800;
  font-size:1.2vw;
  margin: 2vw;
  position: absolute;
  top: 7vw;
  left: 5vw;
}

span.bold{
  font-weight: bold;
}

.rights{
  color: #FF4800;
  font-size:1.2vw;
  margin: 2vw;
  position: absolute;
  top: 10vw;
  left: 5vw;

}

.Marsstrange{
  color: #FF4800;
  font-size:1.2vw;
  margin: 2vw;
  position: absolute;
  left: 76vw;
  top: 10vw;

}

/*========================================================STRUCTURE==============================================*/

.flex-2 {
    display: flex;
    flex-wrap: wrap;/* для переноса на новую строку*/
}
.head {
    flex-basis: 100%; /*распределение свободного пространства по длине*/
}


/*=======================================================GALLERY================================================*/

* {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
 }

#portfolio {
  width: 90%;
  min-height: 90vh;
/*  background: #ffffff;*/
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-gap: 2vw;
  padding: 2vw;
  margin: 2.1vw 3.5vw 5vw 3.5vw;
  justify-content: center;
}
.project {
  position: relative;
  /*background: #F2DAD7;*/
  overflow: hidden;
}
.project img {
  position: absolute;
  opacity: 0.9;
}
.project p {
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 1em 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  z-index: 3;
}
.project .grid__title {
  position: absolute;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  bottom: 0;
  font-weight: 100;
  font-size: 0.8em;
  z-index: 3;
  text-transform: uppercase;
  color: black;
  letter-spacing: 2px;
}
.project:hover .grid__overlay {
  transform: translateY(0%); /*0 - процент оставшегося сверху места*/
}
.grid__overlay {
  display: grid;
  background: #FF4800;
  opacity: 90%;
  filter: brightness(80%);
  height: 100%;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  justify-items: center;
  align-items: center;
  transform: translateY(101%); 
  transition: all 0.3s ease-in-out;
  margin: 20px;

}
.grid__overlay button {
  background: none;
  outline: none;
  font-weight: 100;
  letter-spacing: 2px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  padding: 0.6vw;
  width: 8vw;
}
.grid__overlay button:hover {
  transition: all 0.3s ease-in-out;
  background: #ffffff;
  color: #D1A39E;
  transform: scale(1.05);
}
.overlay {
  position: fixed;
  background: rgba(71, 69, 69, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 3;
}
.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}
.overlay__inner {
  background: #ffffff;
  width: auto;
  padding: 2px;
  position: relative;
  opacity: 1;
}
.close {
  position: absolute;
  top: 3px;
  right: 10px;
  background: none;
  outline: 0;
  color: black;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.close:hover {
  color: #D1A39E;
}
.project__image {
  width: 147%;
  margin-left: -17%; /*двигает изображение в окошке*/
}

.viewbutton {
  padding-bottom: 13vw;
}

